body {background-color:#EBF5FF;}
.navbar-static-bottom {margin-top:30px!important;}
.home-col h3, h4 {color:#FFFFFF;}
.home-col {text-align: center;}
.home-banner {background:url('../images/banner1.jpg') no-repeat center center; background-size:cover;}
.col-banner {background:url('../images/fork.png') no-repeat center center; background-size:cover;}


@media only screen 
and (max-width : 480px) {
.navbar-brand {display:none!important;}
}

@media only screen 
and (max-width : 767px) {
.home-col {text-align: center; margin-bottom:20px;}
}


@media only screen 
and (min-width : 1200px) {
.col-banner {height:222px!important;}
}